@import "variables";

/* stylelint-disable scss/no-global-function-names -- hugo toCSS does not support color.scale */
/* stylelint-disable scss/operator-no-unspaced -- rule does not support "$lightness: -15%" */
html.style1 {
  $theme-color: #42a8c0;
  $theme-color-secondary: scale-color($theme-color, $lightness: -15%);
  $theme-color-invert: #fff;

  --theme-color: #{$theme-color};
  --theme-color-secondary: #{$theme-color-secondary};
  --theme-color-invert: #{$theme-color-invert};
  --theme-color-invert-dark: #e6e6e6;
  --theme-progress-value-background: #{scale-color($theme-color, $lightness: +15%)};
  --theme-profile-background: #{scale-color($theme-color, $lightness: -20%)};
}

html.style2 {
  $theme-color: #4cac9d;
  $theme-color-secondary: scale-color($theme-color, $lightness: -15%);
  $theme-color-invert: #fff;

  --theme-color: #{$theme-color};
  --theme-color-secondary: #{$theme-color-secondary};
  --theme-color-invert: #{$theme-color-invert};
  --theme-color-invert-dark: #e6e6e6;
  --theme-progress-value-background: #{scale-color($theme-color, $lightness: +15%)};
  --theme-profile-background: #{scale-color($theme-color, $lightness: -20%)};
}

html.style3 {
  $theme-color: #5bb66f;
  $theme-color-secondary: scale-color($theme-color, $lightness: -15%);
  $theme-color-invert: #fff;

  --theme-color: #{$theme-color};
  --theme-color-secondary: #{$theme-color-secondary};
  --theme-color-invert: #{$theme-color-invert};
  --theme-color-invert-dark: #e6e6e6;
  --theme-progress-value-background: #{scale-color($theme-color, $lightness: +15%)};
  --theme-profile-background: #{scale-color($theme-color, $lightness: -20%)};
}

html.style4 {
  $theme-color: #a15277;
  $theme-color-secondary: scale-color($theme-color, $lightness: -15%);
  $theme-color-invert: #fff;

  --theme-color: #{$theme-color};
  --theme-color-secondary: #{$theme-color-secondary};
  --theme-color-invert: #{$theme-color-invert};
  --theme-color-invert-dark: #e6e6e6;
  --theme-progress-value-background: #{scale-color($theme-color, $lightness: +15%)};
  --theme-profile-background: #{scale-color($theme-color, $lightness: -20%)};
}

html.style5 {
  $theme-color: #fda246;
  $theme-color-secondary: scale-color($theme-color, $lightness: -15%);
  $theme-color-invert: rgba(#000, 0.7);

  --theme-color: #{$theme-color};
  --theme-color-secondary: #{$theme-color-secondary};
  --theme-color-invert: #{$theme-color-invert};
  --theme-color-invert-dark: #555;
  --theme-progress-value-background: #{scale-color($theme-color, $lightness: +15%)};
  --theme-profile-background: #{scale-color($theme-color, $lightness: -20%)};
}

html.style6 {
  $theme-color: #4b6a78;
  $theme-color-secondary: scale-color($theme-color, $lightness: -15%);
  $theme-color-invert: #fff;

  --theme-color: #{$theme-color};
  --theme-color-secondary: #{$theme-color-secondary};
  --theme-color-invert: #{$theme-color-invert};
  --theme-color-invert-dark: #e6e6e6;
  --theme-progress-value-background: #{scale-color($theme-color, $lightness: +15%)};
  --theme-profile-background: #{scale-color($theme-color, $lightness: -20%)};
}
