$heart: #fb866a;
$smoky-white: #f5f5f5;
$divider: #e8e8e8;
$lighter-grey: #ccc;
$darker-grey: #666;
$text-grey: #97aac3;
$text-color: #3f4650;
$text-color-secondary: #545e6c;
$body-background: $smoky-white;
$main-background: #fff;
