{{ $allPages := .Scratch.Get "AllPages" }}

{{ with where $allPages "Section" "experiences" }}
<section class="section experiences">
    {{ with index (where . "IsSection" true) 0 }}
      {{ partial "section_heading.html" (dict "icon" .Params.icon "title" .Params.title) }}
    {{ end }}
    {{ with where . "IsPage" true }}
      {{ range .ByWeight }}
      <div class="experience">
        <div class="meta level">
          <div class="level-left">
            <div class="level-item">
              <h3 class="job-title">{{ .Params.position }}</h3>
              <span class="company">{{ .Params.company }}</span>
            </div>
          </div>
          <div class="level-right">
            <div class="level-item">
              <span class="time">{{ .Params.dates }}</span>
            </div>
          </div>
        </div>
        {{ with .Content }}
        <div class="details content">{{ . | markdownify }}</div>
        {{ end }}
      </div>
      {{ end }}
    {{ end }}
</section>
{{ end }}
